.tips{
  text-align: center;
  padding: 16px 0;
}
.form {
  padding: 16px;
}
.formRow {
  margin-top: 8px;
}
.formLabel {
}
.formItem {
  min-height: var(--tag-input-min-height);
  max-width: 100%;
  &.button{
    width: 100%;
  }
  &.input {
    flex-grow: 1;
    border: 1px solid var(--tag-input-border-color);
    border-radius: var(--tag-input-radius);
    font-size: 18px;
    font-family: inherit;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: inset 0 0 3px var(--tag-input-shadow);
    &.error {
      border-color: var(--tag-error-color);
    }
  }
  
  &_name {
  }
  &_value {
    display: flex;
    margin-top: 4px;
  }
  &_errorHint {
    margin-top: 4px;
    color: var(--tag-error-color);
    font-size: 12px;
  }
}
