.wrapper {
    padding-bottom: var(--welcome-nav-gap);
    > .actions{
        display: flex;
        position: fixed;
        z-index: var(--z-index-bottom-nav);
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--welcome-bg-end);
        justify-content: space-between;
        align-items: center;
        height: var(--welcome-nav-height);
        font-size: 32px;
        padding: 0 16px;
        padding-bottom: var(--welcome-nav-gap);
        color: var(--welcome-text);
        > .fake{visibility: hidden;}
      }
}